/* chips Less start */
#colors() {
    white: #ffffff;
    whiteGray: #f4f5f7;
    whiteOrange: #fcf8f3;
    
    orange: #e89f71;

    gray: #3a3a3a;
    lightGray: #616161;
    hardGray: #828282;
    
    black: #000000;

    lightWhiteGray: #d8d8d8;
    lightWhiteOrange: #e2cabb;

    mediumWhite: #e5e5e5;
    mediumGray: #898989;
    mediumGrayGray: #b0b0b0;
}


@fontSize: 16px;
@fontWeight: 400;
@lineHeight: 150%;
@positionRelative: relative;
@positionAbsolute: absolute;
@borderBox: border-box;
@auto: auto;


.flexRow {
    display: flex;
    flex-direction: row;
}
.flexRowSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexRowSpaceBetwwen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexRowSpaceAroundCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flexRowSpaceBetwwenCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexColumnSpaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnSpaceBetwwen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexColumnSpaceAroundCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flexColumnSpaceBetwwenCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* chips Less end */


/* basic settings start */
html {
    margin: @auto;
    padding: 0;
    background-color: #colors[mediumWhite];
    font-family: 'Khula', sans-serif;
}

body {
    margin: @auto;
    padding: 0;
    width: 1440px;
    background-color: #colors[white];
}

header {
    position: @positionRelative;
    .flexColumn();
    width: 1440px;
    height: 774px;
    background: linear-gradient(to right, #fcf8f3 6%, #f9f1e7 6% 67%, #fcf8f3 27%);
}

section {
    .flexRowSpaceAround();
}

li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: @fontSize;
    font-weight: @fontWeight;
    line-height: @lineHeight;
    color: #colors[lightGray];
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 16px;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}
/* basic settings end */


/* btn-arrow start */
.btn-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;    
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
        background-color: #colors[lightWhiteOrange];
    }
    &:focus {
        background-color: #colors[lightWhiteOrange];
    }
    &:active {
        background-color: #colors[lightWhiteOrange];
    }
}

.btn-arrow-orange {
    background-color: #colors[orange];
    color: #colors[white];
}

.btn-arrow-white {
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background-color: #colors[white];
    color: #colors[orange];
}

.btn-arrow-left-white {
    background-image: url(../image/btn-arrow-left-white.svg);

    &:hover {
        background-image: url(../image/btn-arrow-left-orange.svg);
    }

    &:focus {
        background-image: url(../image/btn-arrow-left-orange.svg);
    }

    &:active {
        background-image: url(../image/btn-arrow-left-orange.svg);
    }
}

.btn-arrow-left-orange {
    background-image: url(../image/btn-arrow-left-orange.svg);

    &:hover {
        background-image: url(../image/btn-arrow-left-white.svg);
    }

    &:focus {
        background-image: url(../image/btn-arrow-left-white.svg);
    }

    &:active {
        background-image: url(../image/btn-arrow-left-white.svg);
    }
}

.btn-arrow-right-white {
    background-image: url(../image/btn-arrow-right-white.svg);

    &:hover {
        background-image: url(../image/btn-arrow-right-orange.svg);
    }

    &:focus {
        background-image: url(../image/btn-arrow-right-orange.svg);
    }

    &:active {
        background-image: url(../image/btn-arrow-right-orange.svg);
    }
}

.btn-arrow-right-orange {
    background-image: url(../image/btn-arrow-right-orange.svg);

    &:hover {
        background-image: url(../image/btn-arrow-right-white.svg);
    }

    &:focus {
        background-image: url(../image/btn-arrow-right-white.svg);
    }

    &:active {
        background-image: url(../image/btn-arrow-right-white.svg);
    }
}
/* btn-arrow end */


/* btn-rectangle start */
.btn-rectangle-orange {
    background-color: #colors[orange];
    color: #colors[white];
    
    &:hover {
        background-color: #colors[white];
        border: 1px solid #colors[orange];
        color: #colors[orange];
    }
    &:focus {
        background-color: #colors[white];
        border: 1px solid #colors[orange];
        color: #colors[orange];
    }
    &:active {
        background-color: #colors[mediumGray];
        border: 1px solid #colors[white];
        color: #colors[white];
    }
}
.btn-rectangle-white {
    background-color: #colors[white];
    
    color: #colors[orange];

    &:hover {
        background-color: #colors[orange];
        border: 1px solid #colors[white];
        color: #colors[white];
    }
    &:focus {
        background-color: #colors[orange];
        border: 1px solid #colors[white];
        color: #colors[white];
    }
    &:active {
        background-color: #colors[mediumGray];
        border: 1px solid #colors[white];
        color: #colors[white];
    }
}
/* btn-rectangle end */


/* header start */
.cap {
    position: @positionRelative;
    z-index: 5;
    .flexRowSpaceBetwwenCenter();
    margin: @auto;
    width: 1240px;

    &__list {
        width: 100%;
        .flexRowSpaceBetwwenCenter();

        li {
            .flexRowCenter();
            margin: 0;
            font-weight: @fontWeight * 1.75;

            img {
                margin-left: 6px;
            }
        }
        li:nth-child(1) {
            font-size: @fontSize + 8;
            font-weight: @fontWeight * 1.75;
            line-height: 39px;
        }
        form {
            position: @positionRelative;
            .flexRowCenter();

            img {
                position: @positionAbsolute;
                padding: 10px;
                width: 20px;
                height: 20px;
            }
            input {
                padding: 12px 0 12px 44px;
                width: 473px;
                font-size: @fontSize * 1.5px;
            }
        }
        img {
            width: 24px;
            height: 24px;
        }
        .ellipse {
            width: 40px;
            height: 40px;
        }
    }
}

.content {
    position: @positionRelative;
    display: block;
    z-index: 5;
    
    .active {
        position: @positionAbsolute;
        .flexRowSpaceAroundCenter();
        width: 120px;
        height: 27px;
        top: 60px;
        left: 600px;
    }

    .btn-arrow-item {
        position: @positionAbsolute;
        .flexRowSpaceAroundCenter();
        width: 104px;
        height: 48px;
        top: 50px;
        right: 100px;   
    }

    &__hero-content {
        .flexColumnSpaceBetwwen();
        margin: 54px 0 80px 100px;
        padding: 60px;
        width: 494px;
        height: 553px;
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
        box-sizing: @borderBox;

        h1 {
            font-size: 56px;
            font-weight: @fontWeight * 1.75;
            line-height: @lineHeight * 0.8;
        }
        p {
            width: 357px;
            font-size: @fontSize + 4px;
            font-weight: @fontWeight * 1.75;
            line-height: @lineHeight;
            color: #colors[mediumGray]; 
        }
        .btn-rectangle-orange {
            width: 374px;
            height: 78px;
            font-size: @fontSize + 4px;
            font-weight: @fontWeight * 1.5;
            line-height: @lineHeight;
        }
    }
}

.sofa {
    position: @positionAbsolute;
    .flexRow();
    margin-top: 150px;
    width: 100%;
    height: 623px;
    overflow: hidden;

    &__item {
        position: @positionRelative;
        width: 100%;
        top: 0;
        left: 0;

        .sofa-1 {
            position: @positionAbsolute;
            bottom: 0;
            left: -570px;
            width: 934px;
            height: 553px;
        }
        .sofa-2 {
            position: @positionAbsolute;
            bottom: 0;
            right: 100px;
            width: 934px;
            height: 553px;

            &__item {
                position: @positionAbsolute;
                .flexColumnSpaceBetwwen();
                padding: 24px;
                bottom: 40px;
                right: 40px;
                width: 294px;
                height: 148px;
                background: rgba(255, 255, 255, 0.72);
                backdrop-filter: blur(31px);
                box-sizing: @borderBox;

                h2 {
                    font-size: @fontSize * 1.75px;
                    font-weight: @fontWeight * 1.5;
                    line-height: @lineHeight * 0.8;
                    color: #colors[gray];
                }
                p {
                    font-weight: @fontWeight * 1.75;
                    color: #colors[gray];
                }
                div {
                    .flexRowSpaceBetwwenCenter();

                    p {
                        font-size: @fontSize + 4px;
                        font-weight: @fontWeight * 1.5;
                        color: #colors[gray];
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .sofa-3 {
            position: @positionAbsolute;
            bottom: 0;
            right: -880px;
            width: 934px;
            height: 553px;
        }
    }
}
/* header end */


/* main start */
.feature {
    .flexRowSpaceBetwwenCenter();
    margin: @auto;
    margin-top: 88px;
    width: 1242px;

    &__item {
        .flexRowSpaceBetwwenCenter();

        img {
            margin-right: 20px;
            width: 40px;
            height: 40px;
        }
        div {
            .flexColumnSpaceAround();
            
            h3 {
                font-size: 18px;
                font-weight: @fontWeight * 1.5;
                color: #colors[gray];
            }
            p {
                font-weight: @fontWeight * 1.75;
                color: #colors[mediumGray];
            }
        }
    }
}

.product {
    .flexColumnSpaceBetwwenCenter();
    margin: @auto;
    margin-top: 88px;
    width: 1236px;
    height: 1084px;

    h2 {
        font-size: @fontSize * 2.5px;
        font-weight: @fontWeight * 1.75;
        line-height: @lineHeight * 0.8;
        color: #colors[gray];
    }
    &__blog {
        .flexRowSpaceAround();
        flex-wrap: wrap;

        &__item {
            position: @positionRelative;
            .flexColumn();
            margin-bottom: 25px;
            width: 285px;
            height: 446px;
            background-color: #colors[whiteGray];

            div:nth-child(2) {
                .flexColumnSpaceBetwwen();
                height: 145px;
                padding: 20px;
                box-sizing: @borderBox;

                h3 {
                    font-size: @fontSize * 1.5px;
                    font-weight: @fontWeight * 1.5;
                    line-height: @lineHeight * 0.8;
                    color: #colors[gray];
                }
                .text {
                   font-weight: @fontWeight * 1.75;
                   color: #colors[mediumGray]; 
                }
                p {
                    font-size: @fontSize + 4px;
                    font-weight: @fontWeight * 1.5;
                    color: #colors[gray];

                    span {
                        margin-left: 20px;
                        font-size: @fontSize;
                        font-weight: @fontWeight;
                        line-height: @lineHeight;
                        color: #colors[mediumGrayGray];
                    }
                }
            }
            &:nth-child(1):after {
                position: @positionAbsolute;
                top: 20px;
                right: 20px;
                width: 48px;
                height: 48px;
                content: "";
                background-image: url(../image/label-30.svg);
            }
            &:nth-child(3)::after {
                position: @positionAbsolute;
                top: 20px;
                right: 20px;
                width: 48px;
                height: 48px;
                content: "";
                background-image: url(../image/label-50.svg);
            }
            &:nth-child(7)::after {
                position: @positionAbsolute;
                top: 20px;
                right: 20px;
                width: 48px;
                height: 48px;
                content: "";
                background-image: url(../image/label-50.svg);
            }
            &:nth-child(2n+4)::after {
                position: @positionAbsolute;
                top: 20px;
                right: 20px;
                width: 48px;
                height: 48px;
                content: "";
                background-image: url(../image/label-new.svg);
            }
        }
    }
    button {
        width: 245px;
        height: 48px;
        border: 1px solid #colors[orange];
        font-size: @fontSize;
        font-weight: @fontWeight * 1.5;
        line-height: @lineHeight;
    }
}

.inspirations {
    .flexRow();
    justify-content: flex-start;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    width: 1440px;
    height: 670px;
    overflow: hidden;
    background-color: #colors[whiteOrange];

    &__heading {
        .flexColumn();
        justify-content: center;
        padding: 223px 86px 223px 100px;
        width: 25%;

        h2 {
            width: 378px;
            font-size: @fontSize * 2.5px;
            font-weight: @fontWeight * 1.75;
            line-height: @lineHeight * 0.8;
            color: #colors[gray];
        }
        p {
            margin-top: 8px;
            font-weight: @fontWeight * 1.75;
            color: #colors[lightGray];
        }
        .btn-rectangle-orange {
            margin-top: 24px;
            width: 176px;
            height: 48px;
            font-size: @fontSize;
            font-weight: @fontWeight * 1.5;
            line-height: @lineHeight;
        }
    }
    &__image {
        position: @positionRelative;
        .flexRow();
        width: 900px;
        overflow: hidden;

        .image-one {
            position: @positionRelative;
            margin-top: 44px;
            margin-right: 24px;
            min-width: 404px;
            height: 582px;

            img {
                width: 404px; 
                height: 582px;
            }
            
            &__name {
                position: @positionAbsolute;
                padding: 32px 31px 35px 31px;
                bottom: 24px;
                left: 24px;
                width: 217px;
                height: 130px;
                background: rgba(255, 255, 255, 0.72);
                backdrop-filter: blur(3px);
                box-sizing: @borderBox;

                p {
                    font-weight: @fontWeight * 1.75;
                    color: #colors[lightGray];
                }
                & .text-promo {
                    margin-top: 8px;
                    font-size: @fontSize * 1.75px;
                    font-weight: @fontWeight * 1.5;
                    line-height: @lineHeight * 0.8;
                    color: #colors[gray];
                }
            }
            .btn-item {
                position: @positionAbsolute;
                bottom: 24px;
                left: 241px;
                background-size: @auto;
                border-radius: 0;
                background-image: url(../image/btn-arrow-right-2-white.svg);

                &:hover {
                    background-image: url(../image/btn-arrow-right-2-orange.svg);
                }

                &:focus {
                    background-image: url(../image/btn-arrow-right-2-orange.svg);
                }

                &:active {
                    background-image: url(../image/btn-arrow-right-2-orange.svg);
                }
            }
        }
        .image-two {
            position: @positionAbsolute;
            .flexRow();
            margin-top: 44px;
            margin-right: 24px;
            min-width: 372px;
            height: 486px;
            top: 0;
            left: 428px;
        }
        .image-three {
            position: @positionAbsolute;
            .flexRow();
            margin-top: 44px;
            margin-right: 24px;
            min-width: 372px;
            height: 486px;
            top: 0;
            left: 824px;
        }
    }
    .active {
        position: @positionAbsolute;
        .flexRowSpaceAroundCenter();
        width: 120px;
        height: 27px;
        bottom: 73px;
        right: 360px;
    }
    .btn-list {
        position: @positionAbsolute;
        top: 265px;
        right: 74px;
    }
}

.tipsTricks {
    .flexColumnCenter();
    margin: @auto;
    margin-top: 44px;
    width: 1285px;
    height: 520px;

    h2 {
        font-size: @fontSize * 2.5px;
        font-weight: @fontWeight * 1.75;
        line-height: @lineHeight * 0.8;
        color: #colors[gray];
    }

    &__item {
        position: @positionRelative;
        .flexRowSpaceAround();
        width: 1285px;
        height: 383px;

        &__setting {
            .flexColumn();
            width: 391px;
            height: 370px;

            img {
                width: 391px;
                height: 251px;
            }
            h3 {
                margin: 16px 23px 8px 16px;
                font-size: @fontSize * 1.5px;
                font-weight: @fontWeight * 1.5;
                line-height: @lineHeight * 0.8;
                color: #colors[gray];
            }
            p {
                margin-left: 16px;
                font-size: @fontSize * 1.5px;
                color: #colors[mediumGray];
            }

            &:hover {
                box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
            }
        }
        .btn-left-tricks {
            position: @positionAbsolute;
            top: 150px;
            left: -5px;
        }
        .btn-right-tricks {
            position: @positionAbsolute;
            top: 150px;
            right: -5px;
        }
    }
    .active {
        .flexRowSpaceAroundCenter();
        width: 120px;
        height: 27px;
    }
}

.share {
    .flexColumnCenter();
    margin-top: 41px;
    width: 100%;
    height: 780px;

    p {
        font-size: @fontSize + 4px;
        font-weight: @fontWeight * 1.5;
    }
    h2 {
        font-size: @fontSize * 2.5px;
        font-weight: @fontWeight * 1.75;
        line-height: @lineHeight * 0.8;
        color: #colors[gray];
    }
    &__image {
        position: @positionRelative;
        margin-top: -30px;
        width: 100%;
        height: 721px;

        .image-1 {
            position: @positionAbsolute;
            top: 0;
            left: 0;
        }
        .image-2 {
            position: @positionAbsolute;
            bottom: 0;
            left: 0;
        }
        .image-3 { 
            position: @positionAbsolute;
            top: 70px;
            left: 220px;
        }
        .image-4 {
            position: @positionAbsolute;
            bottom: 81px;
            left: 327px;
        }
        .image-5 {
            position: @positionAbsolute;
            top: 140px;
            left: 685px;
        }
        .image-6 {
            position: @positionAbsolute;
            top: 85px;
            right: 152px;
        }
        .image-7 {
            position: @positionAbsolute;
            bottom: 31px;
            right: 264px;
        }
        .image-8 {
            position: @positionAbsolute;
            bottom: 77px;
            right: 0;
        }
        .image-9 {
            position: @positionAbsolute;
            top: 0;
            right: 0;
        }
    } 
}
/* main end */


/* footer start */
.footer {
    position: @positionRelative;
    margin: 0;
    margin-top: 50px;
    bottom: 0;
    right: 0;
    background-color: #colors[white];

    &::after {
        position: @positionAbsolute;
        content: "";
        width: 1237px;
        top: 0;
        left: 100px;
        border-top: 1px solid #colors[lightWhiteGray];
    }

    &__name {
        margin: 49px 80px 50px 102px;
        max-width: 249px;
        max-height: 237px;

        ul {

            li {
                .flexRowCenter();

                img {
                    margin-right: 6px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__menu {
        margin: 49px 79px 58px 0;
        max-width: 104px;
        max-height: 229px;
    }
    &__account {
        margin: 49px 80px 98px 0;
        max-width: 93px;
        max-height: 189px;
    }
    &__stay-co {
        margin: 49px 80px 138px 0;
        max-width: 180px;
        max-height: 149px;
    }
    &__stay-up {
        margin: 49px 101px 197px 0;
        max-width: 292px;
        max-height: 90px;

        ul {
            form {
                position: @positionRelative;
                width: 292px;
                height: 45px;

                input {
                    width: 241px;
                    padding: 10px 0 11px 12px;
                    background-color: #colors[whiteGray];
                    font-size: @fontSize;
                    font-weight: @fontWeight;
                    line-height: @lineHeight;
                    color: #colors[hardGray];
                }
                img {
                    position: @positionAbsolute;
                    top: 0;
                    right: 0;
                    width: 46px;
                    height: 45px;
                }
            }
        }
    }
}
.heading {
    font-size: @fontSize * 1.5px;
    font-weight: @fontWeight * 1.75;
    line-height: 29px;
    color: #colors[black];
}
/* footer end */